<%= simple_form_for(@event) do |f| %>
    <%= f.input :title %>
    <%= f.input :address %>
    <%= f.input :datetime %>
    <%= f.input :description %>
    <%= f.input :pincode %>

    <div class="actions">
      <%= f.button :submit, class: 'btn btn-primary'  %>
      или <%= link_to 'вернуться', :back %>
    </div>
<% end %>
