<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default buffer-both">
      <div class="panel-heading">
        <h2 class="panel_title">
          <strong><%= t('.sign_in') %></strong>
        </h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render partial: 'partials/forms_errors', locals: {model: resource} %>
            <%= f.input :email %>
            <%= f.input :password %>

            <% if devise_mapping.rememberable? -%>
              <%= f.input :remember_me, as: :boolean %>
            <% end -%>

            <div class="actions">
              <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
